body {
  background: darkslategray;
}

.App {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

.search-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.search-input {
  padding: 0.5rem;
}

.no-result {
  color: white;
}

table {
  width: 800px;
  background-color: #f1f1c1;
  margin-left: auto;
  margin-right: auto;
}

table tr:nth-child(even) {
  background-color: lightgrey;
}

table tr:nth-child(odd) {
  background-color: lightgoldenrodyellow;
}

table th {
  color: white;
  background-color: darkslategrey;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.pagination .page-size {
  color: lightgoldenrodyellow;
  margin-right: 1rem;
}

.pagination .select {
  padding: 0.25rem 0.5rem;
}

.pagination .current-page {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: white;
  color: black;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;
  line-height: 20px;
}

.pagination .prev-page a,
.pagination .next-page a {
  color: lightgoldenrodyellow;
  text-decoration: none;
}
